<body>
<br>
  <div class="card card-center">
    <br>
    <p >Pseudo</p>
    <p-floatLabel>
      <input pInputText id="pseudo" [(ngModel)]="pseudo" class="uniform-input" />
      <label for="pseudo">Pseudo</label>
    </p-floatLabel>
    <br>
    <p>Prénom (Optionelle)</p>
    <p-floatLabel>
      <input pInputText id="prenom" [(ngModel)]="prenom" class="uniform-input" />
      <label for="prenom">Prénom</label>
    </p-floatLabel>
    <br>
    <p>Email</p>
    <p-floatLabel>
      <input pInputText id="email" [(ngModel)]="email" class="uniform-input" />
      <label for="email">Email</label>
    </p-floatLabel>
    <br>
    <p>Password</p>
    <p-floatLabel>
      <p-password  [(ngModel)]="pswd" [toggleMask]="true" class="uniform-input" />
    </p-floatLabel>
    <br>
    <p-button label="Confirmer" [raised]="true"  class="Bt-Droite"/>
  </div>
</body>
