<form (ngSubmit)="register()" [formGroup]="registerForm">
  <div class="p-fluid">
    <label>Pseudo</label>
    <input pInputText id="pseudo" formControlName="pseudo" required>
  </div>
  <div class="p-fluid">
    <label>Email</label>
    <input pInputText type="email" formControlName="email" required>
  </div>
  <div class="p-fluid">
    <label>Password</label>
    <p-password  inputId="password" formControlName="password" required></p-password>
  </div>
  <div class="p-fluid pt-8">

    <p-button type="submit" severity="secondary">Register</p-button>
  </div>
</form>

<a routerLink="/login">Vous avez déjà un compte ?</a>
