
  <div class="flex flex-row align-items-center justify-content-between flex-wrap bor ">
    <div class="flex align-items-center justify-content-center  font-bold border-round m-2">
      <button mat-raised-button color="primary" class="bg-orange-400" routerLink="/forum">Forum</button>
    </div>
    <div class="flex align-items-center justify-content-center m-2 img text-center">
      <a routerLink="" class="imgBis logo">
        <img src="assets/img/ff1_Bis_bis.png" alt="Image" class="h-28rem w-35rem object-cover mx-auto">
      </a>
    </div>
    @if(!loggedIn){
    <div class="flex flex-row align-items-center border-round-lg">
      <div class="flex align-items-center justify-content-center  font-bold border-round m-2 ml-auto">
        <button mat-raised-button color="primary" class="bg-orange-400" routerLink="/login">Connexion</button>
      </div>
      <div class="flex align-items-center justify-content-center  font-bold border-round m-2 ">
        <button mat-raised-button color="primary" class="bg-orange-400" routerLink="/register">Créer un compte</button>
      </div>
    </div>
        }@else if (loggedIn){
      <div class="flex flex-row align-items-center border-round-lg">
        <div class="flex align-items-center justify-content-center  font-bold border-round m-2 ml-auto">
          <button mat-raised-button color="primary" class="bg-orange-400" (click)="logout()">Deconnexion</button>
        </div>
        <div class="flex align-items-center justify-content-center  font-bold border-round m-2 ">
          <button mat-raised-button color="primary" class="bg-orange-400" routerLink="/profil">Profil</button>
        </div>
      </div>
          }
    </div>





