@import 'primeflex/primeflex.scss';

.ml-auto{
  margin-left:auto;

}
.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}




.bottom{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.custom{

}






