
  <div class="flex flex-row align-items-center justify-content-between flex-wrap">
    <div class="flex align-items-center justify-content-center  font-bold border-round m-2">
      <p-button label="Forum" routerLink="/forum"/>
    </div>


    <div class="flex align-items-center justify-content-center m-2 img">
      <a href="" class="imgBis">
        <img src="assets/img/ff1_Bis_bis.png" alt="Image" class="h-25rem w-25rem object-cover ">
      </a>
    </div>

    <div class="flex flex-row align-items-center">
      <div class="flex align-items-center justify-content-center  font-bold border-round m-2 ml-auto">
        <p-button label="Connexion" routerLink="/login"/>
      </div>
      <div class="flex align-items-center justify-content-center  font-bold border-round m-2 ">
        <p-button label="Créer un compte" routerLink="/register"/>

      </div>
    </div>
  </div>




