
<div class="container">


  <div class="col-2 minMenu">
    <ul class="minMenu2">

      <li style="color:blue">IRL</li>
      <li>YT</li>
      <li style="color:blue">Twitch </li>
      <li>Cosplay</li>
      <li>Festival</li>
      <li>Createur de Contenu</li>

    </ul>
  </div>


  <div class="col-8 minMenu">

    <ul class="minMenu2" >
      <li style="color:blue; border: 1px solid black;">IMG</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li style="color:blue">DU TEXT ICI </li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
    </ul>
  </div>
</div>
