.formgroup-inline{
  background-color: #f5f5f5; /* Fond gris clair */
  padding: 2rem; /* Espacement intérieur */
  border-radius: 8px; /* Bordures arrondies */
  max-width: 600px; /* Largeur maximale du conteneur */
  margin: 2rem auto; /* Centrage horizontal et espacement vertical */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour l'effet de profondeur */
}

img{
  height: 2rem;
  width: 2rem;
}
