


<div>
  <a  href="https://www.fftcg.fr/" target="_blank">
    <img src="/assets/img/FFTCGN%20.png" alt="image"/>
  </a>

</div>
<h1> ⬆⬆⬆⬆  clic sur l'image pour avoir plus d'info  ╰(*°▽°*)╯ ⬆⬆⬆⬆</h1>


<mat-card >
  <mat-card-content class="text-center">
    <a href="https://www.fftcg.fr/article/opus-hidden-legends/" target="_blank">
      <img src="/assets/img/FFTCGW.png" alt="">
    </a>
    <h2>Derniere Info Sur FFTCG </h2>
    <p>
      New Opuus <br>
    </p>
      <p class="text-4xl">Opus Hidden Legends</p>
  </mat-card-content>
</mat-card>
