img{

  max-width: 45rem;
  max-height: 65rem;
  display: flex;

  border-radius: 1rem;

}
div{
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  align-items: center;
}
h1{
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

a{
  display: flex;
  align-items: center;
  justify-content: center;
}

