<footer class="p-d-flex p-ai-center p-jc-center p-p-3 footer">
  <div class="content p-d-flex p-ai-center p-jc-between p-w-full">
    <div class="copyright p-text-center">
      &copy; 2024 FinalFantasyCommunity. Tous droits réservés.
    </div>
    <div class="social-media p-d-flex p-ai-center ">
      <a href="https://facebook.com/votrenom" target="_blank" class="p-mr-3">
        <i class="pi pi-facebook" style="font-size:2.5rem"></i>
      </a>
      <a href="https://twitter.com/votrenom" target="_blank" class="p-mr-3">
        <i class="pi pi-twitter" style="font-size:2.5rem"></i>
      </a>
      <a href="https://instagram.com/votrenom" target="_blank" class="p-mr-3">
        <i class="pi pi-instagram" style="font-size:2.5rem"></i>
      </a>
      <a href="https://linkedin.com/in/votrenom" target="_blank">
        <i class="pi pi-linkedin" style="font-size:2.5rem"></i>
      </a>
    </div>
  </div>
</footer>
