<footer class="flex align-items-center justify-content-center p-3 footer">
  <div class="content flex align-items-center justify-content-between w-full">
    <div class="copyright text-center">
      &copy; 2024 FinalFantasyCommunity. Tous droits réservés.
    </div>
    <div class="social-media flex align-items-center">
      <a href="https://facebook.com/votrenom" target="_blank" class="mr-3">
        <i class="fab fa-facebook" style="font-size: 2.5rem"></i>
      </a>
      <a href="https://twitter.com/votrenom" target="_blank" class="mr-3">
        <i class="fab fa-twitter" style="font-size: 2.5rem"></i>
      </a>
      <a href="https://instagram.com/votrenom" target="_blank" class="mr-3">
        <i class="fab fa-instagram" style="font-size: 2.5rem"></i>
      </a>
      <a href="https://linkedin.com/in/votrenom" target="_blank">
        <i class="fab fa-linkedin" style="font-size: 2.5rem"></i>
      </a>
    </div>
  </div>
</footer>
