

<div class="container">

  <div class="col-2 minMenu">
    <ul class="minMenu2">
      <li>BONJOUR !</li>
      <li style="color:blue">Faire Menu</li>
      <li>BONJOUR !</li>
      <li style="color:blue">FF N </li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li style="color:blue">FF HS</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li style="color:blue">pour tri des actualiter</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
    </ul>
  </div>





  <div class="col-8 minMenu">
    <ul class="minMenu2" >
      <li style="color:blue; border: 1px solid black;">IMG</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li style="color:blue">DU TEXT ICI </li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
    </ul>
  </div>

  <div class="col-2   droite">
    <ul class="minMenu2">
      <li style="color:blue">Information diversse </li>
      <li style="color:blue">nombre de perssonne connecter ?? </li>
      <li style="color:blue">les derniere info qui on eter faite sur le site </li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
      <li>BONJOUR !</li>
    </ul>
  </div>
</div>
